.container {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
.container0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.named{
  display: inline;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  justify-content: center;
}

.img{
  display: inline;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
